In [1]:
import pandas as pd
        # the following command is to load it from the web directly
    # iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris = pd.read_csv('iris.data.txt')
print ('Type = \n', type(iris))
print ('\nHead(20) = \n',iris.head(20))
print ('\nTail(20) = \n',iris.tail(20))

print('\n')
iris.columns = ['a1', 'sw', 'p1', 'pw', 'flower-class']
print (iris.head())
print ('\n dtype = \n', iris.dtypes)
print ('\n Shape = \n',iris.shape)
print ('\n\n Describe = \n',iris.describe())

Type =
 <class 'pandas.core.frame.DataFrame'>

Head(20) =
     5.1  3.5  1.4  0.2  Iris-setosa
0   4.9  3.0  1.4  0.2  Iris-setosa
1   4.7  3.2  1.3  0.2  Iris-setosa
2   4.6  3.1  1.5  0.2  Iris-setosa
3   5.0  3.6  1.4  0.2  Iris-setosa
4   5.4  3.9  1.7  0.4  Iris-setosa
5   4.6  3.4  1.4  0.3  Iris-setosa
6   5.0  3.4  1.5  0.2  Iris-setosa
7   4.4  2.9  1.4  0.2  Iris-setosa
8   4.9  3.1  1.5  0.1  Iris-setosa
9   5.4  3.7  1.5  0.2  Iris-setosa
10  4.8  3.4  1.6  0.2  Iris-setosa
11  4.8  3.0  1.4  0.1  Iris-setosa
12  4.3  3.0  1.1  0.1  Iris-setosa
13  5.8  4.0  1.2  0.2  Iris-setosa
14  5.7  4.4  1.5  0.4  Iris-setosa
15  5.4  3.9  1.3  0.4  Iris-setosa
16  5.1  3.5  1.4  0.3  Iris-setosa
17  5.7  3.8  1.7  0.3  Iris-setosa
18  5.1  3.8  1.5  0.3  Iris-setosa
19  5.4  3.4  1.7  0.2  Iris-setosa

Tail(20) =
      5.1  3.5  1.4  0.2     Iris-setosa
129  7.4  2.8  6.1  1.9  Iris-virginica
130  7.9  3.8  6.4  2.0  Iris-virginica
131  6.4  2.8  5.6  2.2  Iris-virginica
132  6.3  2.8  5.1  1.5  Iris-virginica
133  6.1  2.6  5.6  1.4  Iris-virginica
134  7.7  3.0  6.1  2.3  Iris-virginica
135  6.3  3.4  5.6  2.4  Iris-virginica
136  6.4  3.1  5.5  1.8  Iris-virginica
137  6.0  3.0  4.8  1.8  Iris-virginica
138  6.9  3.1  5.4  2.1  Iris-virginica
139  6.7  3.1  5.6  2.4  Iris-virginica
140  6.9  3.1  5.1  2.3  Iris-virginica
141  5.8  2.7  5.1  1.9  Iris-virginica
142  6.8  3.2  5.9  2.3  Iris-virginica
143  6.7  3.3  5.7  2.5  Iris-virginica
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica


    a1   sw   p1   pw flower-class
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

 dtype =
 a1              float64
sw              float64
p1              float64
pw              float64
flower-class     object
dtype: object

 Shape =
 (149, 5)


 Describe =
                a1          sw          p1          pw
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [2]:
print (pd.isnull(iris))    # checks for every value is it is null
print (pd.isnull(iris).sum())    # it aggregates the boolean in a single column

        a1     sw     p1     pw  flower-class
0    False  False  False  False         False
1    False  False  False  False         False
2    False  False  False  False         False
3    False  False  False  False         False
4    False  False  False  False         False
5    False  False  False  False         False
6    False  False  False  False         False
7    False  False  False  False         False
8    False  False  False  False         False
9    False  False  False  False         False
10   False  False  False  False         False
11   False  False  False  False         False
12   False  False  False  False         False
13   False  False  False  False         False
14   False  False  False  False         False
15   False  False  False  False         False
16   False  False  False  False         False
17   False  False  False  False         False
18   False  False  False  False         False
19   False  False  False  False         False
20   False  False  False  False         False
21   False  False  False  False         False
22   False  False  False  False         False
23   False  False  False  False         False
24   False  False  False  False         False
25   False  False  False  False         False
26   False  False  False  False         False
27   False  False  False  False         False
28   False  False  False  False         False
29   False  False  False  False         False
..     ...    ...    ...    ...           ...
119  False  False  False  False         False
120  False  False  False  False         False
121  False  False  False  False         False
122  False  False  False  False         False
123  False  False  False  False         False
124  False  False  False  False         False
125  False  False  False  False         False
126  False  False  False  False         False
127  False  False  False  False         False
128  False  False  False  False         False
129  False  False  False  False         False
130  False  False  False  False         False
131  False  False  False  False         False
132  False  False  False  False         False
133  False  False  False  False         False
134  False  False  False  False         False
135  False  False  False  False         False
136  False  False  False  False         False
137  False  False  False  False         False
138  False  False  False  False         False
139  False  False  False  False         False
140  False  False  False  False         False
141  False  False  False  False         False
142  False  False  False  False         False
143  False  False  False  False         False
144  False  False  False  False         False
145  False  False  False  False         False
146  False  False  False  False         False
147  False  False  False  False         False
148  False  False  False  False         False

[149 rows x 5 columns]
a1              0
sw              0
p1              0
pw              0
flower-class    0
dtype: int64

In [3]:
iris.iloc[1:3, 1:3]    # it defines the no of rows and columns to display

    sw   p1
1  3.2  1.3
2  3.1  1.5

In [4]:
iris.sw    # iris.column_name

0      3.0
1      3.2
2      3.1
3      3.6
4      3.9
5      3.4
6      3.4
7      2.9
8      3.1
9      3.7
10     3.4
11     3.0
12     3.0
13     4.0
14     4.4
15     3.9
16     3.5
17     3.8
18     3.8
19     3.4
20     3.7
21     3.6
22     3.3
23     3.4
24     3.0
25     3.4
26     3.5
27     3.4
28     3.2
29     3.1
      ...
119    3.2
120    2.8
121    2.8
122    2.7
123    3.3
124    3.2
125    2.8
126    3.0
127    2.8
128    3.0
129    2.8
130    3.8
131    2.8
132    2.8
133    2.6
134    3.0
135    3.4
136    3.1
137    3.0
138    3.1
139    3.1
140    3.1
141    2.7
142    3.2
143    3.3
144    3.0
145    2.5
146    3.0
147    3.4
148    3.0
Name: sw, Length: 149, dtype: float64

In [5]:
iris.sw.sum()

454.60000000000014

In [6]:
import numpy as np
iris.iloc[1:3, 1:2] = np.nan
iris.head()

    a1   sw   p1   pw flower-class
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  NaN  1.3  0.2  Iris-setosa
2  4.6  NaN  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [7]:
pd.isnull(iris)

        a1     sw     p1     pw  flower-class
0    False  False  False  False         False
1    False   True  False  False         False
2    False   True  False  False         False
3    False  False  False  False         False
4    False  False  False  False         False
5    False  False  False  False         False
6    False  False  False  False         False
7    False  False  False  False         False
8    False  False  False  False         False
9    False  False  False  False         False
10   False  False  False  False         False
11   False  False  False  False         False
12   False  False  False  False         False
13   False  False  False  False         False
14   False  False  False  False         False
15   False  False  False  False         False
16   False  False  False  False         False
17   False  False  False  False         False
18   False  False  False  False         False
19   False  False  False  False         False
20   False  False  False  False         False
21   False  False  False  False         False
22   False  False  False  False         False
23   False  False  False  False         False
24   False  False  False  False         False
25   False  False  False  False         False
26   False  False  False  False         False
27   False  False  False  False         False
28   False  False  False  False         False
29   False  False  False  False         False
..     ...    ...    ...    ...           ...
119  False  False  False  False         False
120  False  False  False  False         False
121  False  False  False  False         False
122  False  False  False  False         False
123  False  False  False  False         False
124  False  False  False  False         False
125  False  False  False  False         False
126  False  False  False  False         False
127  False  False  False  False         False
128  False  False  False  False         False
129  False  False  False  False         False
130  False  False  False  False         False
131  False  False  False  False         False
132  False  False  False  False         False
133  False  False  False  False         False
134  False  False  False  False         False
135  False  False  False  False         False
136  False  False  False  False         False
137  False  False  False  False         False
138  False  False  False  False         False
139  False  False  False  False         False
140  False  False  False  False         False
141  False  False  False  False         False
142  False  False  False  False         False
143  False  False  False  False         False
144  False  False  False  False         False
145  False  False  False  False         False
146  False  False  False  False         False
147  False  False  False  False         False
148  False  False  False  False         False

[149 rows x 5 columns]

In [8]:
iris.sw.fillna(1, inplace = True)    # you can fill an item in place of NaN in the column sw using fillna and type what you have to enter
    # inplace = true, make changes to the same matrix
    # inplace = false makes changes to a separate matrix which has been copied from the original matrix
iris.head()

    a1   sw   p1   pw flower-class
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  1.0  1.3  0.2  Iris-setosa
2  4.6  1.0  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [9]:
y = iris['flower-class']
    # now you have to delete it from the main data set x
del iris['flower-class']
print (iris.head())
y

    a1   sw   p1   pw
0  4.9  3.0  1.4  0.2
1  4.7  1.0  1.3  0.2
2  4.6  1.0  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
5         Iris-setosa
6         Iris-setosa
7         Iris-setosa
8         Iris-setosa
9         Iris-setosa
10        Iris-setosa
11        Iris-setosa
12        Iris-setosa
13        Iris-setosa
14        Iris-setosa
15        Iris-setosa
16        Iris-setosa
17        Iris-setosa
18        Iris-setosa
19        Iris-setosa
20        Iris-setosa
21        Iris-setosa
22        Iris-setosa
23        Iris-setosa
24        Iris-setosa
25        Iris-setosa
26        Iris-setosa
27        Iris-setosa
28        Iris-setosa
29        Iris-setosa
            ...
119    Iris-virginica
120    Iris-virginica
121    Iris-virginica
122    Iris-virginica
123    Iris-virginica
124    Iris-virginica
125    Iris-virginica
126    Iris-virginica
127    Iris-virginica
128    Iris-virginica
129    Iris-virginica
130    Iris-virginica
131    Iris-virginica
132    Iris-virginica
133    Iris-virginica
134    Iris-virginica
135    Iris-virginica
136    Iris-virginica
137    Iris-virginica
138    Iris-virginica
139    Iris-virginica
140    Iris-virginica
141    Iris-virginica
142    Iris-virginica
143    Iris-virginica
144    Iris-virginica
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
Name: flower-class, Length: 149, dtype: object

In [10]:
iris.iloc[1:3, 1:2] = np.nan
print (iris.head())

    a1   sw   p1   pw
0  4.9  3.0  1.4  0.2
1  4.7  NaN  1.3  0.2
2  4.6  NaN  1.5  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4

In [11]:
iris.dropna(inplace = True)    # it removes the rows having NaN as values, here it romoves complete rows 1 and 2
iris.head()

    a1   sw   p1   pw
0  4.9  3.0  1.4  0.2
3  5.0  3.6  1.4  0.2
4  5.4  3.9  1.7  0.4
5  4.6  3.4  1.4  0.3
6  5.0  3.4  1.5  0.2

In [12]:
    # if inplace is false it returns a temp matrix, eg
a = iris.reset_index()
print (a)    # as shown here if Drop is False a new column is created with new indices, but the original one doesn't change and is added as a feature, as shown in the output

iris.reset_index(drop = True, inplace = True)    # by default inplace is false, and it resets the index
iris.head()

     index   a1   sw   p1   pw
0        0  4.9  3.0  1.4  0.2
1        3  5.0  3.6  1.4  0.2
2        4  5.4  3.9  1.7  0.4
3        5  4.6  3.4  1.4  0.3
4        6  5.0  3.4  1.5  0.2
5        7  4.4  2.9  1.4  0.2
6        8  4.9  3.1  1.5  0.1
7        9  5.4  3.7  1.5  0.2
8       10  4.8  3.4  1.6  0.2
9       11  4.8  3.0  1.4  0.1
10      12  4.3  3.0  1.1  0.1
11      13  5.8  4.0  1.2  0.2
12      14  5.7  4.4  1.5  0.4
13      15  5.4  3.9  1.3  0.4
14      16  5.1  3.5  1.4  0.3
15      17  5.7  3.8  1.7  0.3
16      18  5.1  3.8  1.5  0.3
17      19  5.4  3.4  1.7  0.2
18      20  5.1  3.7  1.5  0.4
19      21  4.6  3.6  1.0  0.2
20      22  5.1  3.3  1.7  0.5
21      23  4.8  3.4  1.9  0.2
22      24  5.0  3.0  1.6  0.2
23      25  5.0  3.4  1.6  0.4
24      26  5.2  3.5  1.5  0.2
25      27  5.2  3.4  1.4  0.2
26      28  4.7  3.2  1.6  0.2
27      29  4.8  3.1  1.6  0.2
28      30  5.4  3.4  1.5  0.4
29      31  5.2  4.1  1.5  0.1
..     ...  ...  ...  ...  ...
117    119  6.9  3.2  5.7  2.3
118    120  5.6  2.8  4.9  2.0
119    121  7.7  2.8  6.7  2.0
120    122  6.3  2.7  4.9  1.8
121    123  6.7  3.3  5.7  2.1
122    124  7.2  3.2  6.0  1.8
123    125  6.2  2.8  4.8  1.8
124    126  6.1  3.0  4.9  1.8
125    127  6.4  2.8  5.6  2.1
126    128  7.2  3.0  5.8  1.6
127    129  7.4  2.8  6.1  1.9
128    130  7.9  3.8  6.4  2.0
129    131  6.4  2.8  5.6  2.2
130    132  6.3  2.8  5.1  1.5
131    133  6.1  2.6  5.6  1.4
132    134  7.7  3.0  6.1  2.3
133    135  6.3  3.4  5.6  2.4
134    136  6.4  3.1  5.5  1.8
135    137  6.0  3.0  4.8  1.8
136    138  6.9  3.1  5.4  2.1
137    139  6.7  3.1  5.6  2.4
138    140  6.9  3.1  5.1  2.3
139    141  5.8  2.7  5.1  1.9
140    142  6.8  3.2  5.9  2.3
141    143  6.7  3.3  5.7  2.5
142    144  6.7  3.0  5.2  2.3
143    145  6.3  2.5  5.0  1.9
144    146  6.5  3.0  5.2  2.0
145    147  6.2  3.4  5.4  2.3
146    148  5.9  3.0  5.1  1.8

[147 rows x 5 columns]

    a1   sw   p1   pw
0  4.9  3.0  1.4  0.2
1  5.0  3.6  1.4  0.2
2  5.4  3.9  1.7  0.4
3  4.6  3.4  1.4  0.3
4  5.0  3.4  1.5  0.2